body {
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url("img/dark.jpg");
  font-family: Arial;
}

.App {
  width: 100%;
  max-width: 1400px;
  margin: 3vh auto;
}
